<form [formGroup]="expressionForm">
  <ng-template matStepLabel>Define math expression</ng-template>
  <div cdkDropListGroup>

    <div class="row">
      <div class="col-2">
        <div class="main-font mt-1" style="font-size: 16px">
          Available constants:
        </div>

      </div>
      <div class="col-9">
        <div class="example-container">
          <mat-chip-list>
            <div
              cdkDropList
              cdkDropListOrientation="horizontal"
              #todoList="cdkDropList"
              [cdkDropListData]="calculatorModel.constants"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <mat-chip selected="true" class="mr-1" color="primary" *ngFor="let item of calculatorModel.constants"
                        cdkDrag>{{item.name}}</mat-chip>
            </div>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2">
        <div class="main-font mt-1" style="font-size: 16px">
          Available inputs:
        </div>

      </div>
      <div class="col-9">
        <div class="example-container">
          <div
            cdkDropList
            cdkDropListOrientation="horizontal"
            #todoList="cdkDropList"
            [cdkDropListData]="calculatorModel.inputs"

            class="example-list"
            (cdkDropListDropped)="drop($event)">

            <mat-chip selected="true" class="mr-1" color="accent" *ngFor="let item of calculatorModel.inputs"
                      cdkDrag>{{item.name}}</mat-chip>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2">
        <div class="main-font mt-1" style="font-size: 16px">
          Available operators:
        </div>
      </div>
      <div class="col-9">
        <div class="example-container">
          <div
            cdkDropList
            cdkDropListOrientation="horizontal"
            #todoList="cdkDropList"
            [cdkDropListData]="mathOperators"

            class="example-list"
            (cdkDropListDropped)="drop($event)">

            <mat-chip class="mr-1" *ngFor="let item of mathOperators"
                      cdkDrag>{{item['name']}}</mat-chip>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row mt-2">
      <div class="col-2">
        <div class="main-font mt-1" style="font-size: 16px">
          <b class="">Math expressions:</b>
        </div>
      </div>
    </div>
    <div *ngFor="let exp of expressionForm.get('expressionList').value; let i=index">
      <div class="row mt-2">
        <div class="col-7">
          <div class="example-container">
            <div
              cdkDropList
              #doneList="cdkDropList"
              cdkDropListOrientation="horizontal"
              [cdkDropListData]="preparedExpressions[i].exp"
              class="example-list2"
              (cdkDropListDropped)="drop($event, i)"
            >
              <i *ngFor="let item of preparedExpressions[i].exp" cdkDrag class="main-font"
                 style="font-size: 18px">{{item['name']}}</i>
            </div>
          </div>
        </div>
        <div class="col-2 mb-1">
          <span class=" main-font" style="font-size: 24px">= {{exp['symbol']}}</span>

          <span *ngIf="preparedExpressions[i].valid === 'true'; else notValid" class="ml-3"><fa-icon
            style="font-size: 24px; color: green" [icon]="thumbUp"></fa-icon></span>
          <ng-template #notValid>
            <span class="ml-3"><fa-icon style="font-size: 24px; color: red" [icon]="thumbDown"></fa-icon></span>
          </ng-template>
        </div>

      </div>
    </div>
  </div>

  <div class="mt-5" style="text-align: right">

    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Accept</button>
  </div>

</form>
