<div class="row">
  <div class="col text-center mt-2">
    <h2 class="fast-calculations"><fa-icon [icon]="tachometer"></fa-icon> Fast calculations</h2>
    <hr class="text-white-50" />
  </div>
</div>
<div class="row">
  <div class ="col fast-parent">
    <div class="fast-middle">
      <div class="fast-child">
        <mat-tab-group dynamicHeight="true" mat-align-tabs="center" animationDuration="500ms">
          <mat-tab label="Calculator">
            <div class="tab-content">
              <app-fast-calculator></app-fast-calculator>
            </div>
          </mat-tab>
          <mat-tab label="Equations">
            <div class="tab-content">
              <app-fast-equations></app-fast-equations>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
