<div class="main-background">

  <mat-horizontal-stepper class="main-background" #stepper linear (selectionChange)="onStepChange($event)">
    <mat-step [stepControl]="formInfoCalc">
      <ng-template matStepLabel>Information</ng-template>
      <app-add-info-calc></app-add-info-calc>
    </mat-step>
    <mat-step [stepControl]="formConstCalc">
      <ng-template matStepLabel>Constants</ng-template>
      <app-add-const-calc></app-add-const-calc>
    </mat-step>
    <mat-step [stepControl]="formInputCalc">
      <ng-template matStepLabel>Inputs</ng-template>
      <app-add-input-calc></app-add-input-calc>
    </mat-step>
    <mat-step [stepControl]="formOutputCalc">
      <ng-template matStepLabel>Outputs</ng-template>
      <app-add-output-calc></app-add-output-calc>
    </mat-step>
    <mat-step [stepControl]="formExpressionCalc">
      <ng-template matStepLabel>Expressions</ng-template>
      <app-add-expression-calc [calculator]="calculator"></app-add-expression-calc>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Acceptance</ng-template>
      <app-add-acceptance-calc [calculator]="calculator" (newKey)="assignNewKey($event)"></app-add-acceptance-calc>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Done</ng-template>
      <app-add-done-calc [calculator]="calculator" [stepper]="stepper" [key]="lastKey"></app-add-done-calc>
    </mat-step>

  </mat-horizontal-stepper>
</div>
