<div class="main-background">
  <mat-horizontal-stepper class="main-background" #stepper>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Information</ng-template>
        <div class="row mt-3">
          <div class="col">
            <div>
              <mat-form-field>
                <input matInput placeholder="Calculator name" formControlName="firstCtrl" required>
              </mat-form-field>
            </div>
            <div class="mt-2">
              <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="thirdCtrl" required cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="3"
                          cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div style="text-align: right">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Inputs</ng-template>
        <div class="row">
          <div class="col">
            <div>
              <mat-form-field>
                <input matInput placeholder="Symbol" formControlName="firstCtrl" required>
              </mat-form-field>
            </div>

            <div class="mt-2">
              <mat-form-field>
                <input matInput placeholder="Description" formControlName="thirdCtrl" required>
              </mat-form-field>
            </div>
          </div>
          <div class="col-7">
            <div>
              <mat-form-field>
                <input matInput placeholder="Symbol" formControlName="firstCtrl" required>
              </mat-form-field>
            </div>

            <div class="mt-2">
              <mat-form-field>
                <input matInput placeholder="Description" formControlName="thirdCtrl" required>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div style="text-align: right">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Output</ng-template>
      <div style="text-align: right">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Define math expression</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
