input {
  cursor: inherit;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px rgb(30, 31, 38) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
.main-div{
  margin-top: 100px;
}
mat-card {
  background-color: whitesmoke;
}
.calculator-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
