<form [formGroup]="inputForm">
  <ng-template matStepLabel>Inputs</ng-template>
  <div class="row">
    <div class="col">
      <div formArrayName="inputList"
           *ngFor="let input of getInputList().controls; let i = index;">
        <div [formGroupName]="i">
          <mat-form-field  class="mr-4" style="width: 40px">
            <input matInput formControlName="symbol" placeholder="symbol">
          </mat-form-field>
          <mat-form-field class="mr-4" style="width: 120px">
            <input matInput formControlName="name" placeholder="name" required>
          </mat-form-field>
          <mat-form-field class="mr-4" style="width: 120px">
            <input matInput formControlName="description" placeholder="description">
          </mat-form-field>
          <mat-form-field class="mr-4" style="width: 80px">
            <mat-label>unit</mat-label>
            <mat-select formControlName="unit" placeholder="unit">
              <mat-option>-- None --</mat-option>
              <mat-optgroup *ngFor="let unitCategory of units" [label]="unitCategory.categoryName">
                <mat-option *ngFor="let unitVal of unitCategory.units| async"  [value]="unitVal.name" >
                  {{unitVal.name}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      <div>
        <button mat-icon-button (click)="addItem()">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="removeLastItem()">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div style="text-align: right">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
