<nav class="navbar navbar-dark">
  <a class="navbar-brand" href="#">
    <span> <fa-icon [icon]="square"></fa-icon> Your Calculator <sub> share it now</sub> </span>
  </a>
</nav>
<div class="container-fluid ">
  <div class="row row-special">
    <nav class="col-md-1 sidebar my-auto">
      <div class="sidebar-sticky my-sm-center ">
        <ul class="nav flex-md-column flex-sm-row ">
          <li class="nav-item my-icons">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <fa-icon [icon]="home"></fa-icon>
            </a>
          </li>
          <li class="nav-item my-icons" >
            <a routerLink="/calculator" routerLinkActive="active">
              <fa-icon [icon]="calculator"></fa-icon>
            </a>
          </li>
          <li class="nav-item my-icons" >
            <a routerLink="/search" routerLinkActive="active">
              <fa-icon [icon]="search" ></fa-icon>
            </a>
          </li>
          <li class="nav-item my-icons" >
            <a routerLink="/info" routerLinkActive="active">
              <fa-icon [icon]="info"></fa-icon>
            </a>
          </li>
          <li class="nav-item my-icons">
            <a routerLink="/contact"  routerLinkActive="active">
              <fa-icon [icon]="envelope"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-1 col-lg-1"></div>
    <main role="main" class="col-md-8 col-lg-8 bottom-column">
          <router-outlet></router-outlet>
    </main>
    <div class="col-md-1 col-lg-1"></div>
  </div>
</div>
<footer class="navbar fixed-bottom navbar-light bg-faded ">
  <span class="navbar-brand text-white-50">Made with <fa-icon [icon]="heart"></fa-icon> for  <fa-icon
    [icon]="rocket"></fa-icon></span>
  <span class="navbar-text text-white-50"><fa-icon [icon]="copyright"></fa-icon> Krystian Katafoni, 2019</span>
</footer>

