<div class="row main-div main-font main-background">
  <div class="col">
    <mat-card  class="main-font">
      <mat-card-header >
        <mat-card-title>
          <h4 class="calculator-header"><fa-icon class="mr-3" [icon]="calculator"></fa-icon>Calculator id: <i style="color:lightslategray">{{calculatorWithId.key}}</i></h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="ml-3">
          <p><b>Name:</b> {{calculatorWithId.data.information.name}}</p>
          <p><b>Owner:</b> {{calculatorWithId.data.information.owner}}</p>
          <p><b>Description:</b> {{calculatorWithId.data.information.description}}</p>
          <p><b>Category:</b> {{calculatorWithId.data.information.category}}</p>
          <div class="mt-4">
            <b style="font-size: 20px">Expressions</b>
            <mat-slide-toggle
              class="ml-2"
              color="primary"
              [checked]="isTogetherMode"
              [(ngModel)]="isTogetherMode "
              (change)="openSnackBar()"
            matTooltip="Together Mode">
          </mat-slide-toggle>
          </div>
          <div *ngIf="!isTogetherMode; else individualMode" class="mt-2">
          <p *ngFor="let output of calculatorWithId.data.outputs">
            <span *ngFor="let item of output.expression">
              <span [ngSwitch]="item.type">
                <span *ngSwitchCase= "'input'">
                  <mat-form-field  class="ml-1" style="width: 50px">
                    <input matInput matTooltip="{{item.description}}" [(ngModel)]="item.value" [placeholder]="item.name" >
                  </mat-form-field>
                  <i *ngIf="item.unit !==''"> [{{item.unit}}] </i>
                </span>
              <i *ngSwitchCase="'operator'"> {{item.name}} </i>
               <i *ngSwitchCase="'const'" matTooltip="{{item.description}}"> {{item.name}}  <i *ngIf="item.unit !==''"> [{{item.unit}}] </i></i>
            </span>
            </span>
            <span class="ml-2" matTooltip="{{output.description}}"> = {{output.name}}</span>
            <i *ngIf="output.unit !==''"> [{{output.unit}}] </i>
            <button class = "ml-3" mat-stroked-button color="primary" (click)="evaluateOutput(output)">Evaluate</button>
            <span class="ml-3" style="font-size: 16px" *ngIf="output.value !== ''"><b>Result: </b>{{output.value}}</span>
          </p>
          </div>
          <ng-template #individualMode>
            <div>
              <b>Inputs: </b><span *ngFor="let item of calculatorWithId.data.inputs">
                <mat-form-field  class="ml-3" style="width: 50px">
                  <input matInput matTooltip="{{item.description}}" [(ngModel)]="item.value" [placeholder]="item.name" >
                </mat-form-field>
                <i *ngIf="item.unit !==''"> [{{item.unit}}] </i>
              </span>
              <button class = "ml-3" mat-stroked-button color="primary" (click)="evaluateTogether()">Evaluate</button>
              <p *ngFor="let output of calculatorWithId.data.outputs; let i = index" class="mt-2">
                <b class="mr-3">Expression {{i}}:</b> <i *ngFor="let item of output.expression">  {{item.name}}  <i *ngIf="item.unit !=='' && item.type ==='input'"> [{{item.unit}}] </i></i>
                = <span class="ml-2" matTooltip="{{output.description}}"> = {{output.name}}</span> <i *ngIf="output.unit !==''"> [{{output.unit}}] </i>
                <span class="ml-3" style="font-size: 16px" *ngIf="output.value !== ''"><b>Result: </b>{{output.value}}</span>
              </p>
            </div>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
