.main-background{
  background-color: whitesmoke;
}
.main-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.main-div{
  margin-top: 100px;
}
mat-card {
  background-color: whitesmoke;
}
.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #673AB7 !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;;
}
