.main-background{
  background-color: whitesmoke;
}
.main-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.main-div{
  margin-top: 100px;
}
mat-card {
  background-color: whitesmoke;
}
