@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: whitesmoke!important;
}
html, body {
  height: 100%;
  color: black;
}
button:focus{outline:none !important;}
.snackbar-class {
  background-color: #1E1F26;
  color:dimgrey;
}

