<div class="row main-div main-font main-background">
  <div class="col">
    <div fxLayout fxLayoutAlign="center center">
      <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 100px">Index</mat-header-cell>
          <mat-cell style="max-width: 100px; font-weight: bold" *matCellDef="let index = index"> {{index + (paginator.pageIndex * paginator.pageSize)+1}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="owner">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Created by</mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.owner}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="key">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Key</mat-header-cell>
          <mat-cell style="font-size: 10px" *matCellDef="let element"> {{element.key}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="link" >
          <mat-header-cell style="margin-left: 50px" mat-header-cell *matHeaderCellDef >Link</mat-header-cell>
          <mat-cell style="margin-left: 40px" *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/view', element.key]" routerLinkActive="active">
              <mat-icon>link</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 5, 10]" #paginator>
    </mat-paginator>
  </div>
</div>
