
.main-background{
  background-color: whitesmoke;
}
.main-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.main-div{
  margin-top: 25px;
}
.mat-table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: whitesmoke;
  font-size: 8px;
}

.mat-paginator {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: whitesmoke;
}
.mat-cell {
  font-size: 13px;
}
