<div class="row main-div">
  <div class="col">
    <div>
      <h1><fa-icon [icon]="atom"></fa-icon> What is Your Calculator?</h1>
      <hr/>
    </div>
    <div class="main-content">
      Your Calculator is your possibility to create custom calculator and share it beetween your friends!
    </div>
    <div>
      <h1><fa-icon [icon]="sub"></fa-icon> What type of calculator could I create?</h1>
      <hr/>
    </div>
    <div class="main-content">
      Limit is only in your mind, but creating this application I was thinking about such types of calculators:
      <ul>
        <li>Liquid calculator - for smokers</li>
        <li>Area calculator - for apartment developers</li>
        <li>Cost calculator - for your clients</li>
      </ul>
      And so on.
    </div>
    <div>
      <h1><fa-icon [icon]="sort"></fa-icon> Creating calculator</h1>
      <hr/>
    </div>
    <div class="main-content">
      <ol>
        <li>Give the name for the calculator, and describe it.</li>
        <li>Define inputs -  number of them, their names, descriptions and units.</li>
        <li>Define output - name, description, unit.</li>
        <li>Write math expression for your calculator using earlier defined inputs and output</li>
        <li>Test your calculator</li>
        <li>Share your calculator with clients, associate and friends!</li>
      </ol>
    </div>
  </div>
</div>
